<div class="panel panelDesarrollador">
    <p>&copy; Alejandro Arroyo Duque</p>
    <p>Gracias por jugar!</p>
    <div class="row-fluid">
     	<ul class="thumbnails">
	        <li class="span3">
	        	<a href="mailto:alejandro.arroyoduque@gmail.com" class="thumbnail">
	       			<img ng-src="img/trainvial/auxiliar-gmail.png" alt="gmail">
	          	</a>
	        </li>
	        <li class="span3">
	          	<a href="https://github.com/alejandroarroyo/Trainvial.git" class="thumbnail">
	            	<img ng-src="img/trainvial/auxiliar-github.png" alt="View from github">
	          	</a>
	        </li>
    	</ul>
    </div>
    <small><a href="mailto:alejandro.arroyoduque@gmail.com">alejandro.arroyoduque@gmail.com</a></small><br>
    <small><a href="https://github.com/alejandroarroyo/Trainvial.git">Ver en github</a></small><br>
</div>